{% extends "base.html" %}
{% block title %}Manage Users{% endblock %}
{% block content %}
<h2>All Users</h2>
<a href="{% url 'user_add' %}" class="btn btn-success mb-3">Add User</a>
<a href="{% url 'employee_dashboard'  %}" class="btn btn-secondary mb-3">back</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th><th>Username</th><th>Email</th><th>Role</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
            <td>
                <a href="{% url 'user_delete' u.id %}" class="btn btn-danger btn-sm">Delete</a>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
