{% extends "base.html" %}
{% block title %}Delete Course{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 25rem;">
        <div class="card-body text-center">
            <h3 class="card-title text-danger">Delete Course</h3>
            <p class="card-text">Are you sure you want to delete <strong>{{ course.title }}</strong>?</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2">Yes, Delete</button>
                <a href="{%url 'instructor_dashboard'%}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
